{% extends "layout.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
{% if 'username' in session %}
    {% include "jumbotron.html" %}
{% endif %}
<div class="row">
    <div class="col-12">
        <nav>
            <ul class="nav nav-pills float-right">
                {% if 'username' in session%}
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="{{ url_for('newCategory') }}" role="button">Add New Category</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <h4 class="text-muted">All Categories</h4>
    </div>
</div>
<hr>
{% include "flash.html" %}
<div class="d-flex flex-column mt-5 mb-5 justify-content-center">
    {% for cat in categories %}
        <div class="p-2 card">
            <div class="card-body">
                <h5 class="card-title">{{ cat.name }}</h5>
                <a href="{{ url_for('showItems', category_name = cat.name) }}">View items in this category</a>
                <br><br>
                {% if 'username' in session %}
                    <div>
                        <a href="{{url_for('editCategory', category_name = cat.name ) }}">Edit</a> |
                        <a href="{{url_for('deleteCategory', category_name = cat.name ) }}">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}