{% extends "layout.html" %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
{% include "jumbotron.html" %}
<div class="row">
    <div class="col-12">
        <h4 class="text-muted">Edit: "{{ category.name }}"</h4>
    </div>
</div>
<hr>
{% include "flash.html" %}
<div class="row">
    <div class="col-12">
        <form action="{{ url_for('editCategory', category_name = category.name) }}" method="POST">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label"><h5 class="text-muted">Name:</h5></label>
                <div class="col-10">
                    <input type="text" class="form-control here" id="name" name="name" value="{{ category.name }}"  maxlength="100" aria-describedby="nameHelpBlock">
                    <span class="form-text text-muted" id="nameHelpBlock">Do not add duplicate name</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-10 offset-2">
                    <button type="submit" name="edit" class="btn btn-outline-secondary">Update</button>
                    <a href="{{url_for('showItems', category_name = category.name )}}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}