{% extends "layout.html" %}
{% block title %}{{item.name}}{% endblock %}
{% block content %}
{% if 'username' in session %}
    {% include "jumbotron.html" %}
{% endif %}
{% include "flash.html" %}
<div class="row">
    <div class="col-12 card">
        <div class="card-body">
            <h4 class="card-title">{{ item.name }}</h4>
            <div class="card-subtitle mb-2"><i>({{ category.name }})</i></div>
            <h5 class="mt-2 mb-2 text-muted">
                {{ item.description }}
            </h5>
            <br>
            <p class="menu-price">Price ($): {{ item.price }}</p>
            <p>
                Items left: {{item.quantity}}
                <br>
                Uploaded by: {{user.name}}
            </p>
            {% if 'username' in session%}
                <P>
                    <a href="{{url_for('editItem', category_name = category.name, item_name = item.name ) }}">Edit</a> |
                    <a href="{{url_for('deleteItem', category_name = category.name, item_name = item.name ) }}">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}