/* Space out the content a bit */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px auto 20px;
  background-color: #212529;

}


h2 {
  font-size: 1.5rem;

}


h3 {
  font-size: 1.25rem;

}


h4 {
  font-size: 1rem;

}


h5 {
  font-size: 0.75rem;

}


h6 {
  font-size: 0.6rem;

}


nav li {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;

}


hr {
  display: block;
  border-bottom: 1px solid dimgray;
  margin: 0.5rem;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: auto 15px auto 15px;

}


/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;

}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0 auto 0;

}


.header a {
  margin-bottom: 0;
  font-weight: 400;

}


.header-logo {
  margin: 0;
  max-width: 60%;

}


.btn-outline-secondary {
  color: lightgray;

}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;

}


.flash {
  background-color: lightgray;
  width: 100%;
  text-decoration: none;
  border-radius: 2px;

}


.flash li {
  list-style-type: none;
  text-align: center;

}


.user-picture {
  width: 60%;
  margin: 0;
  border-radius: 150px;

}


.menu-price {
  font-weight: 700;

}


.card {
  background-color: lightgray;
  margin: 0.3rem auto o.3rem;

}


.card a {
  color: #212529;
  font-size: 1rem;
}


/* Custom page footer */
.footer {
  text-align: end;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;

  }

}


.container-narrow>hr {
  margin: 30px 0;

}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: lightgray;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 25px auto 15px;

}


.jumbotron-message {
  font-weight: 400;

}


/* Supporting marketing content */
.marketing {
  margin: 30px 0;

}


.marketing p+h4 {
  margin-top: 20px;

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: auto 0 auto 0;

  }


  /* Space out the masthead */
  .header {
    margin-bottom: 15px;

  }


  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;

  }

}


/* Media queries to implement responsiveness on different screen sizes */
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  h2 {
    font-size: 2rem;

  }


  h3 {
    font-size: 1.75rem;

  }


  h4 {
    font-size: 1.5rem;

  }


  h5 {
    font-size: 1.25rem;

  }

  h6 {
    font-size: 1rem;

  }

}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .header a {
    font-weight: 500;

  }


  .card a {
    font-size: 1.2rem;

  }

  h2 {
    font-size: 2rem;

  }


  h3 {
    font-size: 1.75rem;

  }


  h4 {
    font-size: 1.5rem;

  }


  h5 {
    font-size: 1.25rem;

  }


  h6 {
    font-size: 1rem;

  }

}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .header a {
    font-weight: 500;

  }


  .card a {
    font-size: 1.5rem;

  }


  h2 {
    font-size: 2.5rem;

  }


  h3 {
    font-size: 2.25rem;

  }


  h4 {
    font-size: 2rem;

  }


  h5 {
    font-size: 1.75rem

  }

}
