/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #212529;
  }
  nav li{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  hr {
    display: block;
    border-bottom: 1px solid dimgray;
    margin: 1rem;
  }


  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Custom page header */
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header a {
    margin-bottom: 0;
    font-weight: 500;
  }
  .header-logo {
    margin: 0;
    max-width: 70%;
  }
  .btn-outline-secondary{
    color: lightgray;
  }
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  /*.nav-pills .nav-link.active {
    background-color: #6c757d;
  }*/

  .flash {
    background-color: lightgray;
    width:100%;
    text-decoration: none;
    border-radius: 2px;

  }

  .flash li {
    list-style-type: none;
    text-align: center;

  }
  .user-picture {
    width: 60%;
    margin: 0;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
  .menu-price {
    font-weight: 700;
  }
  .card {
    background-color: lightgray;
    margin: 0.3rem;
  }

  .card a{
    color: #212529;
  }

  /* Custom page footer */
  .footer {
    text-align: end;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  /* Customize container */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    background-color: lightgray;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .jumbotron-message {
    font-weight: 400;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

  /* Responsive text
  @include media-breakpoint-up(sm) {
    html {
      font-size: 0.5rem;
    }
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 1.2rem;
    }
    h3{
      font-size: 1rem;
    }
    h4{
      font-size: 0.8rem;
    }
  }

  @include media-breakpoint-up(md) {
    html {
      font-size: 0.8rem;
    }
    h1{
      font-size: 1.8rem;
    }
    h2{
      font-size: 1.5rem;
    }
    h3{
      font-size: 1.2rem;
    }
    h4{
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(lg) {
    html {
      font-size: 1rem;
    }
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.8rem;
    }
    h3{
      font-size: 1.5rem;
    }
    h4{
      font-size: 1.2rem;
    }
  }*/